metadata:
  description: >-
    Given a patient's historical electronic health record up to and including their arrival and triage at the Emergency Department,
    predict the probability of admitting the patient to the hospital from the Emergency Department.

predicates:
  ed_arrival:
    code: EMERGENCY_DEPARTMENT_REGISTRATION//ARRIVAL_TRANSPORT
  ed_discharge:
    code: {regex: "EMERGENCY_DEPARTMENT_DISCHARGE//DISCHARGE_LOCATION//.*"}
  ed_discharge_admitted:
    code: "EMERGENCY_DEPARTMENT_DISCHARGE//DISCHARGE_LOCATION//ADMITTED"

trigger: ed_arrival

windows:
  input:
    start: NULL # Include all events prior to ED arrival
    end: trigger
    start_inclusive: True
    end_inclusive: True # Include all events up to and including ED arrival (e.g. triage)
    index_timestamp: end

  target:
    # Target true if ed_discharge event has location value ADMITTED
    start: trigger
    end: start -> ed_discharge

    start_inclusive: True
    end_inclusive: True

    label: ed_discharge_admitted
