# Natural language version of ETHOS_ARES MIMIC-IV event config file
# Adapted from https://github.com/ipolharvard/ethos-ares/blob/2d54383997318eb52f3d47b5969a66fc166b71ff/scripts/meds/mimic/configs/event_configs-ed.yaml


subject_id_col: subject_id
ed/edstays:
  ed_registration:
    code:
      - "Emergency Department Registration"
      - "Arrival Transport"
      - col(arrival_transport)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
  ed_out:
    code:
      - "Emergency Department Discharge"
      - "To"
      - col(disposition)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

ed/triage:
  temperature:
    code:
      - "Emergency Department Triage"
      - "Temperature °C"
    numeric_value: temperature
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  heart_rate:
    code:
      - "Emergency Department Triage"
      - "Heart Rate bpm"
    numeric_value: heartrate
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  respiratory_rate:
    code:
      - "Emergency Department Triage"
      - "Respiratory Rate breaths/min"
    numeric_value: resprate
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  o2_saturation:
    code:
      - "Emergency Department Triage"
      - "O2 Saturation %"
    numeric_value: o2sat
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  systolic_blood_pressure:
    code:
      - "Emergency Department Triage"
      - "Systolic Blood Pressure mmHg"
    numeric_value: sbp
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  diastolic_blood_pressure:
    code:
      - "Emergency Department Triage"
      - "Diastolic Blood Pressure mmHg"
    numeric_value: dbp
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  pain:
    code:
      - "Emergency Department Triage"
      - "Pain Score"
    text_value: pain
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  acuity:
    code:
      - "Emergency Department Triage"
      - "Severity Score (1 high - 5 low)"
    numeric_value: acuity
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  # Not in Ethos-ARES
  # chiefcomplaint:
  #   code:
  #     - "Emergency Department Triage"
  #     - "Chief Complaint"
  #     - col(chiefcomplaint)
  #   time: col(intime)
  #   time_format:
  #     - "%Y-%m-%d %H:%M:%S"

ed/diagnosis:
  diagnosis:
    code:
      - "Emergency Department Diagnosis"
      - col(icd_title)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/admissions:
  admission:
    code:
      - "Hospital Admission"
      - col(admission_type)
      - "from"
      - col(admission_location)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  # Multiple insurance, marital status, and race are recorded
  # Using heuristics such as most frequent is messy when truncating at "differing prediction points"
  # So we just include them as recorded both in terms of time and value
  insurance:
    code:
      - "Hospital Admission"
      - "Insurance"
      - col(insurance)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  marital_status:
    code:
      - "Hospital Admission"
      - "Marital Status"
      - col(marital_status)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  race:
    code:
      - "Hospital Admission"
      - "Race"
      - col(race)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  # Repeat gender as likely to be truncated from birth event
  gender:
    code:
      - "Hospital Admission"
      - "Gender"
      - col(gender)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  # Language not used in Ethos-ARES model
  # language:
  #   code:
  #     - "Hospital Admission"
  #     - "Language"
  #     - col(language)
  #   time: col(admittime)
  #   time_format: "%Y-%m-%d %H:%M:%S"
  discharge:
    code:
      - "Hospital Discharge"
      - "Location"
      - col(discharge_location)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"
  # We omit the death event here as it is joined to the data in the subjects table in the pre-MEDS step.

hosp/diagnoses_icd:
  diagnosis:
    code:
      - "Hospital Diagnosis"
      - col(long_title)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/drgcodes:
  drg:
    code:
      - "Diagnosis Related Groups"
      - col(description)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"
    # Filtered to HCFA drg_type only in pre-MEDS step (as done downstream in ETHOS-ARES)
    # Not used in Ethos-ARES model
    # drg_severity: drg_severity
    # drg_mortality: drg_mortality

hosp/emar:
  medication:
    code:
      - "Hospital Medication"
      - col(medication)
      - col(event_txt)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"
    # Not used in Ethos-ARES model
    # emar_id: emar_id
    # emar_seq: emar_seq

ed/pyxis:
  medication:
    code:
      - "Emergency Department Medication"
      - col(name)
      - "Dispensed" # Correct term according to docs (https://physionet.org/content/mimic-iv-ed/2.2/_)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/hcpcsevents:
  hcpcs:
    code:
      - "Healthcare Common Procedure Coding System"
      - col(long_description)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/labevents:
  lab:
    code:
      - "Laboratory Result"
      - col(fluid)
      - col(label)
      - col(valueuom)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"
    # ETHOS-ARES only uses valuenum column downstream
    # This drops (free text) information from value and comments columns
    numeric_value: valuenum

ed/vitalsign:
  temperature:
    code:
      - "Emergency Department Vital Signs"
      - "Temperature"
      - "°C"
    numeric_value: temperature
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  heart_rate:
    code:
      - "Emergency Department Vital Signs"
      - "Heart Rate"
      - "bpm"
    numeric_value: heartrate
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  respiratory_rate:
    code:
      - "Emergency Department Vital Signs"
      - "Respiratory Rate"
      - "breaths/min"
    numeric_value: resprate
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  o2_saturation:
    code:
      - "Emergency Department Vital Signs"
      - "O2 Saturation"
      - "%"
    numeric_value: o2sat
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  diastolic_blood_pressure:
    code:
      - "Emergency Department Vital Signs"
      - "Diastolic Blood Pressure"
      - "mmHg"
    numeric_value: dbp
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  systolic_blood_pressure:
    code:
      - "Emergency Department Vital Signs"
      - "Systolic Blood Pressure"
      - "mmHg"
    numeric_value: sbp
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  pain:
    code:
      - "Emergency Department Vital Signs"
      - "Pain Score"
      - col(pain)
    text_value: pain
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  # Not in Ethos-ARES
  # heart_rhythm:
  #   code:
  #     - "Emergency Department Vital Signs"
  #     - "Heart Rhythm"
  #     - col(rhythm)
  #   time: col(charttime)
  #   time_format:
  #     - "%Y-%m-%d %H:%M:%S"

hosp/omr:
  omr:
    code:
      - "Observation Medical Record"
      - col(result_name)
      - col(result_value)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/patients:
  dob:
    code:
      # Not using the MEDS official code for birth (MEDS_BIRTH).
      - "Birth"
      - "Born"
    time: col(year_of_birth)
    # Set as Y-01-01 00:00:00 internally in pre-MEDS
    time_format: "%Y"
  gender:
    code:
      - "Birth"
      - "Gender"
      - col(gender)
    time: col(year_of_birth)
    time_format: "%Y"
  death:
    code:
      # Not using the MEDS official code for death (MEDS_DEATH).
      - "Death"
      - "Died"
    time: col(dod)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
      - "%Y-%m-%d"

# Not used in ETHOS-ARES
#hosp/pharmacy:
#  medication_start:
#    code:
#      - MEDICATION
#      - START
#      - col(medication)
#    time: col(starttime)
#    route: route
#    frequency: frequency
#    doses_per_24_hrs: doses_per_24_hrs
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#  medication_stop:
#    code:
#      - MEDICATION
#      - STOP
#      - col(medication)
#    time: col(stoptime)
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"

hosp/procedures_icd:
  procedure:
    code:
      - "Hospital Procedure"
      - col(long_title)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/transfers:
  transfer:
    code:
      - "Hospital Transfer"
      - col(eventtype)
      - col(careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"

icu/icustays:
  icu_admission:
    code:
      - "ICU Admission"
      - col(first_careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
  icu_discharge:
    code:
      - "ICU Discharge"
      - col(last_careunit)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

# Not used in ETHOS-ARES
#icu/chartevents:
#  event:
#    code:
#      - LAB
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: valuenum
#    text_value: value
#    hadm_id: hadm_id
#    icustay_id: stay_id

#icu/procedureevents:
#  start:
#    code:
#      - PROCEDURE
#      - START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#  end:
#    code:
#      - PROCEDURE
#      - END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#
#icu/inputevents:
#  input_start:
#    code:
#      - INFUSION_START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: rate
#    unit: rateuom
#    ordercategorydescription: ordercategorydescription
#  input_end:
#    code:
#      - INFUSION_END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: amount
#    ordercategorydescription: ordercategorydescription
#    statusdescription: statusdescription
#    unit: amountuom
#  subject_weight:
#    code:
#      - SUBJECT_WEIGHT_AT_INFUSION
#      - KG
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: patientweight
#
#icu/outputevents:
#  output:
#    code:
#      - SUBJECT_FLUID_OUTPUT
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    numeric_value: value
