
# Natural language version of ETHOS_ARES MIMIC-IV event config file
# Adapted from https://github.com/ipolharvard/ethos-ares/blob/2d54383997318eb52f3d47b5969a66fc166b71ff/scripts/meds/mimic/configs/event_configs-ed.yaml

subject_id_col: subject_id
ed/edstays:
  ed_registration:
    code:
      - "Emergency Department Registration: Via"
      - col(arrival_transport)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id
    stay_id: stay_id
  ed_out:
    code:
      - "Emergency Department Discharge:"
      - col(disposition)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id
    stay_id: stay_id

ed/triage:
  temperature:
    code:
      - "Temperature (Triage):"
      - col(temperature)
      - "°C"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  heart_rate:
    code:
      - "Heart Rate Triage:"
      - col(heartrate)
      - "bpm"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  respiratory_rate:
    code:
      - "Respiratory Rate Triage:"
      - col(resprate)
      - breaths/min
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  o2_saturation:
    code:
      - "O2 Saturation Triage:"
      - col(o2sat)
      - "%"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  blood_pressure:
    code:
      - "Blood Pressure Triage:"
      - col(sbp)
      - /
      - col(dbp)
      - "mmHg"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  pain:
    code:
      - "Pain Score Triage:"
      - col(pain)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  acuity:
    code:
      - "Acuity Score Triage:"
      - col(acuity)
      - (1 highest - 5 lowest severity)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  # Not in Ethos-ARES!
  chiefcomplaint:
    code:
      - "Chief Complaint Triage:"
      - col(chiefcomplaint)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id

ed/diagnosis:
  diagnosis:
    code:
      - "Emergency Department Diagnosis:"
      - col(icd_title)
    stay_id: stay_id
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/admissions:
  admission:
    code:
      - "Hospital Admission: Type:"
      - col(admission_type)
      - "Source:"
      - col(admission_location)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
    # insurance: insurance
    # language: language
    # marital_status: marital_status
    # race: race
    # hadm_id: hadm_id
  discharge:
    code:
      - "Hospital Discharge: Location:"
      - col(discharge_location)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id
  # We omit the death event here as it is joined to the data in the subjects table in the pre-MEDS step.

hosp/diagnoses_icd:
  diagnosis:
    code:
      - "Hospital Diagnosis:"
      - col(long_title)
    hadm_id: hadm_id
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/drgcodes:
  drg:
    code:
      - "Diagnosis Related Groups:"
      - col(description)
    hadm_id: hadm_id
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/emar:
  medication:
    code:
      - "Medication Hospital:"
      - col(medication)
      - col(event_txt)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id

ed/pyxis:
  medication:
    code:
      - "Medication Emergency Department:"
      - col(name)
      - "Dispensed"
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id

hosp/hcpcsevents:
  hcpcs:
    code:
      - "Healthcare Common Procedure Coding System:"
      - col(long_description)
    hadm_id: hadm_id
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/labevents:
  lab:
    code:
      - "Laboratory result:"
      - col(fluid)
      - col(label)
      - col(value)
      - col(valueuom)
    hadm_id: hadm_id
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"

ed/vitalsign:
  temperature:
    code:
      - "Temperature Emergency Department:"
      - col(temperature)
      - "°C"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  heart_rate:
    code:
      - "Heart Rate Emergency Department:"
      - col(heartrate)
      - "bpm"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  respiratory_rate:
    code:
      - "Respiratory Rate Emergency Department:"
      - col(resprate)
      - breaths/min
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  o2_saturation:
    code:
      - "O2 Saturation Emergency Department:"
      - col(o2sat)
      - "%"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  blood_pressure:
    code:
      - "Blood Pressure Emergency Department:"
      - col(sbp)
      - "/"
      - col(dbp)
      - "mmHg"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  pain:
    code:
      - "Pain Score Emergency Department:"
      - col(pain)
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id
  # Not in Ethos-ARES!
  heart_rhythm:
    code:
      - "Heart Rhythm Emergency Department:"
      - col(rhythm)
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
    stay_id: stay_id

hosp/omr:
  omr:
    code:
      - col(result_name)
      - col(result_value)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/patients:
  gender:
    code:
      - Gender
      - col(gender)
    time: null
  dob:
    code: MEDS_BIRTH # This is the MEDS official code for birth.
    time: col(year_of_birth)
    time_format: "%Y"
  death:
    code: MEDS_DEATH # This is the MEDS official code for death.
    time: col(dod)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
      - "%Y-%m-%d"

#hosp/pharmacy:
#  medication_start:
#    code:
#      - MEDICATION
#      - START
#      - col(medication)
#    time: col(starttime)
#    route: route
#    frequency: frequency
#    doses_per_24_hrs: doses_per_24_hrs
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#  medication_stop:
#    code:
#      - MEDICATION
#      - STOP
#      - col(medication)
#    time: col(stoptime)
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"

hosp/procedures_icd:
  procedure:
    code:
      - "Procedure:"
      - col(long_title)
    hadm_id: hadm_id
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/transfers:
  transfer:
    code:
      - "Hospital Transfer:"
      - col(eventtype)
      - col(careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id

icu/icustays:
  icu_admission:
    code:
      - "Admitted to ICU:"
      - col(first_careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id
    icustay_id: stay_id
  icu_discharge:
    code:
      - "Discharged from ICU:"
      - col(last_careunit)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"
    hadm_id: hadm_id
    icustay_id: stay_id

#icu/chartevents:
#  event:
#    code:
#      - LAB
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: valuenum
#    text_value: value
#    hadm_id: hadm_id
#    icustay_id: stay_id

#icu/procedureevents:
#  start:
#    code:
#      - PROCEDURE
#      - START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#  end:
#    code:
#      - PROCEDURE
#      - END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#
#icu/inputevents:
#  input_start:
#    code:
#      - INFUSION_START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: rate
#    unit: rateuom
#    ordercategorydescription: ordercategorydescription
#  input_end:
#    code:
#      - INFUSION_END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: amount
#    ordercategorydescription: ordercategorydescription
#    statusdescription: statusdescription
#    unit: amountuom
#  subject_weight:
#    code:
#      - SUBJECT_WEIGHT_AT_INFUSION
#      - KG
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: patientweight
#
#icu/outputevents:
#  output:
#    code:
#      - SUBJECT_FLUID_OUTPUT
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    hadm_id: hadm_id
#    icustay_id: stay_id
#    numeric_value: value
