
# Natural language version of ETHOS_ARES MIMIC-IV event config file
# Adapted from https://github.com/ipolharvard/ethos-ares/blob/2d54383997318eb52f3d47b5969a66fc166b71ff/scripts/meds/mimic/configs/event_configs-ed.yaml

subject_id_col: subject_id
ed/edstays:
  ed_registration:
    code:
      - "Emergency Department Registration |"
      - "Arrival Transport"
      - col(arrival_transport)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
  ed_out:
    code:
      - "Emergency Department Discharge |"
      - "To"
      - col(disposition)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

ed/triage:
  temperature:
    code:
      - "Emergency Department Triage |"
      - "Temperature"
      - col(temperature)
      - "°C"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  heart_rate:
    code:
      - "Emergency Department Triage |"
      - "Heart Rate"
      - col(heartrate)
      - "bpm"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  respiratory_rate:
    code:
      - "Emergency Department Triage |"
      - "Respiratory Rate"
      - col(resprate)
      - breaths/min
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  o2_saturation:
    code:
      - "Emergency Department Triage |"
      - "O2 Saturation"
      - col(o2sat)
      - "%"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  blood_pressure:
    code:
      - "Emergency Department Triage |"
      - "Blood Pressure"
      - col(sbp)
      - "/ "
      - col(dbp)
      - "mmHg"
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  pain:
    code:
      - "Emergency Department Triage |"
      - "Pain Score"
      - col(pain)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  acuity:
    code:
      - "Emergency Department Triage |"
      - "Acuity Score"
      - col(acuity)
      - (1 highest - 5 lowest severity)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  # Not in Ethos-ARES!
  chiefcomplaint:
    code:
      - "Emergency Department Triage |"
      - "Chief Complaint"
      - col(chiefcomplaint)
    time: col(intime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"

ed/diagnosis:
  diagnosis:
    code:
      - "Emergency Department Diagnosis |"
      - col(icd_title)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/admissions:
  admission:
    code:
      - "Hospital Admission |"
      - "Type"
      - col(admission_type)
      - ". Source "
      - col(admission_location)
    time: col(admittime)
    time_format: "%Y-%m-%d %H:%M:%S"
  race:
    code:
      - "Static Information |"
      - "Race:"
      - col(race)
    time: null
  discharge:
    code:
      - "Hospital Discharge |"
      - "Location "
      - col(discharge_location)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"
    # We omit the death event here as it is joined to the data in the subjects table in the pre-MEDS step.

hosp/diagnoses_icd:
  diagnosis:
    code:
      - "Hospital Diagnosis |"
      - col(long_title)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/drgcodes:
  drg:
    code:
      - "Diagnosis Related Groups |"
      - col(description)
    time: col(dischtime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/emar:
  medication:
    code:
      - "Hospital Medication |"
      - col(medication)
      - col(event_txt)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"

ed/pyxis:
  medication:
    code:
      - "Emergency Department Medication |"
      - col(name)
      - "Dispensed"
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"

hosp/hcpcsevents:
  hcpcs:
    code:
      - "Healthcare Common Procedure Coding System |"
      - col(long_description)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/labevents:
  lab:
    code:
      - "Laboratory Result |"
      - col(fluid)
      - col(label)
      - col(value)
      - col(valueuom)
    time: col(charttime)
    time_format: "%Y-%m-%d %H:%M:%S"

ed/vitalsign:
  temperature:
    code:
      - "Emergency Department Vital Signs |"
      - "Temperature"
      - col(temperature)
      - "°C"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  heart_rate:
    code:
      - "Emergency Department Vital Signs |"
      - "Heart Rate"
      - col(heartrate)
      - "bpm"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  respiratory_rate:
    code:
      - "Emergency Department Vital Signs |"
      - "Respiratory Rate"
      - col(resprate)
      - breaths/min
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  o2_saturation:
    code:
      - "Emergency Department Vital Signs |"
      - "O2 Saturation"
      - col(o2sat)
      - "%"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  blood_pressure:
    code:
      - "Emergency Department Vital Signs |"
      - "Blood Pressure"
      - col(sbp)
      - "/ "
      - col(dbp)
      - "mmHg"
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  pain:
    code:
      - "Emergency Department Vital Signs |"
      - "Pain Score"
      - col(pain)
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
  # Not in Ethos-ARES!
  heart_rhythm:
    code:
      - "Emergency Department Vital Signs |"
      - "Heart Rhythm"
      - col(rhythm)
    time: col(charttime)
    time_format:
      - "%Y-%m-%d %H:%M:%S"

hosp/omr:
  omr:
    code:
      - "Observation Medical Record |"
      - col(result_name)
      - col(result_value)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/patients:
  gender:
    code:
      - "Static Information |"
      - "Gender:"
      - col(gender)
    time: null
  dob:
    code:
      - "Birth |"
      - "MEDS_BIRTH" # This is the MEDS official code for birth.
    time: col(year_of_birth)
    time_format: "%Y"
  death:
    code:
      - "Death |"
      - "MEDS_DEATH" # This is the MEDS official code for death.
    time: col(dod)
    time_format:
      - "%Y-%m-%d %H:%M:%S"
      - "%Y-%m-%d"

hosp/procedures_icd:
  procedure:
    code:
      - "Hospital Procedure |"
      - col(long_title)
    time: col(chartdate)
    time_format: "%Y-%m-%d"

hosp/transfers:
  transfer:
    code:
      - "Hospital Transfer |"
      - col(eventtype)
      - col(careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"

icu/icustays:
  icu_admission:
    code:
      - "ICU Admission |"
      - col(first_careunit)
    time: col(intime)
    time_format: "%Y-%m-%d %H:%M:%S"
  icu_discharge:
    code:
      - "ICU Discharge |"
      - col(last_careunit)
    time: col(outtime)
    time_format: "%Y-%m-%d %H:%M:%S"


#hosp/pharmacy:
#  medication_start:
#    code:
#      - MEDICATION
#      - START
#      - col(medication)
#    time: col(starttime)
#    route: route
#    frequency: frequency
#    doses_per_24_hrs: doses_per_24_hrs
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"
#  medication_stop:
#    code:
#      - MEDICATION
#      - STOP
#      - col(medication)
#    time: col(stoptime)
#    poe_id: poe_id
#    time_format:
#      - "%Y-%m-%d %H:%M:%S"
#      - "%Y-%m-%d"

#icu/chartevents:
#  event:
#    code:
#      - LAB
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: valuenum
#    code: value
#    #    icu
#icu/procedureevents:
#  start:
#    code:
#      - PROCEDURE
#      - START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    #    icu#  end:
#    code:
#      - PROCEDURE
#      - END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    #    icu#
#icu/inputevents:
#  input_start:
#    code:
#      - INFUSION_START
#      - col(itemid)
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    #    icu#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: rate
#    unit: rateuom
#    ordercodedescription: ordercodedescription
#  input_end:
#    code:
#      - INFUSION_END
#      - col(itemid)
#    time: col(endtime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    #    icu#    order_id: orderid
#    link_order_id: linkorderid
#    numeric_value: amount
#    ordercodedescription: ordercodedescription
#    statusdescription: statusdescription
#    unit: amountuom
#  subject_weight:
#    code:
#      - SUBJECT_WEIGHT_AT_INFUSION
#      - KG
#    time: col(starttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    numeric_value: patientweight
#
#icu/outputevents:
#  output:
#    code:
#      - SUBJECT_FLUID_OUTPUT
#      - col(itemid)
#      - col(valueuom)
#    time: col(charttime)
#    time_format: "%Y-%m-%d %H:%M:%S"
#    #    icu#    numeric_value: value
