# Copied from https://github.com/ipolharvard/ethos-ares/blob/2d54383997318eb52f3d47b5969a66fc166b71ff/scripts/meds/mimic/configs/extract_MIMIC.yaml

defaults:
  - _extract
  - _self_

description: |-
  This pipeline extracts the MIMIC-IV dataset in longitudinal, sparse form from an input dataset meeting
  select criteria and converts them to the flattened, MEDS format. You can control the key arguments to this
  pipeline by setting environment variables:
  ```bash
    export EVENT_CONVERSION_CONFIG_FP=# Path to your event conversion config
    export MIMICIV_PRE_MEDS_DIR=# Path to the output dir of the pre-MEDS step
    export MIMICIV_MEDS_COHORT_DIR=# Path to where you want the dataset to live
  ```

# The event conversion configuration file is used throughout the pipeline to define the events to extract.
event_conversion_config_fp: ${oc.env:EVENT_CONVERSION_CONFIG_FP}

input_dir: ${oc.env:MIMICIV_PRE_MEDS_DIR}
cohort_dir: ${oc.env:MIMICIV_MEDS_COHORT_DIR}

etl_metadata:
  dataset_name: MIMIC-IV
  dataset_version: 2.2

stage_configs:
  shard_events:
    infer_schema_length: null
  split_and_shard_subjects:
    n_subjects_per_shard: 20000
    split_fracs:
      train: 0.9
      test: 0.1
      tuning: null
      held_out: null
  create_prefix_column:
    _script: custom-meds-transform-create-prefix-column
  filter_null_measurment_values:
    _script: custom-meds-transform-filter-null-values
    prefixes:
      - "EMERGENCY_DEPARTMENT_TRIAGE"
      - "EMERGENCY_DEPARTMENT_VITAL_SIGNS"
      - "LABORATORY_RESULT"
  filter_drg_and_hospital_transfers:
    _script: custom-meds-transform-drop-by-regex
    patterns:
      # Done by ETHOS-ARES tokenization
      # Drop any diagnosis related groups that are not HCFA
      - regex: "^DIAGNOSIS_RELATED_GROUPS//.*"
        except_regex: "^DIAGNOSIS_RELATED_GROUPS//HCFA.*"
      # Drop any hospital transfer that are not admit or transfer
      - regex: "^HOSPITAL_TRANSFER//.*"
        except_regex: "^HOSPITAL_TRANSFER//(ADMIT|TRANSFER).*"
  clean_code_column:
    _script: custom-meds-transform-clean-string-columns
    column: code
    strip_whitespace: true
    to_uppercase: true
    patterns:
      - pattern: '(\s){1,}'
        replacement: "_"

stages:
  - shard_events
  - split_and_shard_subjects
  - convert_to_sharded_events
  - merge_to_MEDS_cohort
  #### Custom transforms ####
  - filter_null_measurment_values
  - filter_drg_and_hospital_transfers
  - clean_code_column
  ##############################
  - extract_code_metadata
  - finalize_MEDS_metadata
  - finalize_MEDS_data
