# Copied from https://github.com/ipolharvard/ethos-ares/blob/2d54383997318eb52f3d47b5969a66fc166b71ff/scripts/meds/mimic/configs/extract_MIMIC.yaml

defaults:
  - _extract
  - _self_

description: |-
  This pipeline extracts the MIMIC-IV dataset in longitudinal, sparse form from an input dataset meeting
  select criteria and converts them to the flattened, MEDS format. You can control the key arguments to this
  pipeline by setting environment variables:
  ```bash
    export EVENT_CONVERSION_CONFIG_FP=# Path to your event conversion config
    export MIMICIV_PRE_MEDS_DIR=# Path to the output dir of the pre-MEDS step
    export MIMICIV_MEDS_COHORT_DIR=# Path to where you want the dataset to live
  ```

# The event conversion configuration file is used throughout the pipeline to define the events to extract.
event_conversion_config_fp: ${oc.env:EVENT_CONVERSION_CONFIG_FP}

input_dir: ${oc.env:MIMICIV_PRE_MEDS_DIR}
cohort_dir: ${oc.env:MIMICIV_MEDS_COHORT_DIR}

etl_metadata:
  dataset_name: MIMIC-IV
  dataset_version: 2.2

stage_configs:
  shard_events:
    infer_schema_length: null
  split_and_shard_subjects:
    n_subjects_per_shard: 20000
    split_fracs:
      train: 0.9
      test: 0.1
      tuning: null
      held_out: null
  create_prefix_column:
    _script: custom-meds-transform-create-prefix-column
  filter_null_values:
    _script: custom-meds-transform-filter-null-values
    prefixes:
      # - "Emergency Department Vital Signs"
      # - "Emergency Department Triage"
      - "Laboratory Result"
  filter_by_text_value:
    _script: custom-meds-transform-filter-by-text-value
    prefix_to_text_values:
      HOSPITAL_TRANSFER:
        - ADMIT
        - TRANSFER
      DIAGNOSIS_RELATED_GROUPS:
        - HCFA
  # clean_code:
  #   _script: custom-meds-transform-clean-code
  #   column: code
  #   strip_whitespace: true
  #   # Do in pre-MEDS step to avoid issues with units/acronyms
  #   to_titlecase: false
  #   patterns:
  #     - pattern: "//"
  #       replacement: " "
  #     - pattern: "UNK"
  #       replacement: "Unknown"
  #     - pattern: '(\s){2,}'
  #       replacement: " "
  # calculate_age:
  #   _script: custom-meds-transform-calculate-age
  #   birth_code: "Born"
  # add_time_column:
  #   _script: custom-meds-transform-add-time-column
  #   time_format: "%H:%M"
  #   replace_end_of_day: true
  #   end_of_day_fill_value: "Time Unspecified"

stages:
  - shard_events
  - split_and_shard_subjects
  - convert_to_sharded_events
  - merge_to_MEDS_cohort
  #### Custom transforms ####
  - filter_null_values
  - filter_by_text_value
  # - create_prefix_column
  # - clean_code
  # - calculate_age
  # - add_time_column
  ##############################
  - extract_code_metadata
  - finalize_MEDS_metadata
  - finalize_MEDS_data
